
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>

  </ion-buttons>
  <ion-buttons slot="end"> <!--TODO: Replace with FAB https://ionicframework.com/docs/api/fab -->
    <ion-button id="open-modal">
      <ion-icon style="margin-right: 0%;" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Day counting</ion-title>
</ion-toolbar>

<ion-content>
<!-- Modal https://ionicframework.com/docs/api/modal -->

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>

        <ion-title>Add countdown</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Enter event name</ion-label>
        <ion-input type="text" placeholder="Event name" [(ngModel)]="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Enter day</ion-label>
        <!-- Date picker https://ionicframework.com/docs/api/datetime -->
        <ion-input id="date" value="{{ date | date: 'dd MMM yyyy' }}" placeholder="Date" required> 
          <ion-icon slot="end" name="calendar-number-outline" style="margin-right: 2%;"></ion-icon>
        </ion-input>
        <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime 
            presentation="date" 
            [showDefaultTitle]="true"
            [showDefaultButtons]="true"
            [(ngModel)]="date"
            ></ion-datetime>

        </ng-template>
        </ion-popover>
      </ion-item>
      
    </ion-content>
  </ng-template>
</ion-modal>

<ion-list>
</ion-list>
<app-event></app-event>

</ion-content>
