.event{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    background-color: aqua;
}

.face {
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    height: 296px;
    left: 52px;
    padding: 165px 40px 0;
    position: absolute;
    width: 296px;
    text-align: center;
    top: 52px;
  }

